/* ここからheader_widget */
#header_widget{
  background-color: #F2F2F2;
}
#header_currency_table{
  width:80%;
  max-width: 600px;
}
.header_widget_td{
  background-color: white;
}
.header_widget_td .currency_logo{
  height:50px;
  width:50px;
}
.header_widget_td .BitcoinCash .currency_logo{
  height:30px;
  width:50px;
  margin: 10px 0px;
}
.header_widget_td{
  width:55px;
  height:88px;
}
.header_widget_td a{
  display: block;
  text-decoration:none;
  color:inherit;
  font-size: 80%;
}
.header_widget_td a:hover{
  background-color:#DDDDDD;
  text-decoration:none;
  color:inherit;
}
.header_widget_td p{
  margin:0;
  text-align: center;
}
/* ここまでheader */

/* ここからchat_header */
.chat_widget_div .currency_logo{
  height:40px;
  width:40px;
  margin-left: 5px;
}
.chat_widget_div .BitcoinCash .currency_logo{
  height:24px;
  width:40px;
  margin: 8px 0px;
  margin-left: 5px;
}
.chat_widget_div span{
  display:inline-block;
}
.chat_widget_div a{
  display: block;
  text-decoration:none;
  color:inherit;
  font-size:130%;
}
.chat_widget_div a:hover{
  background-color:#DDDDDD;
  text-decoration:none;
  color:inherit;
}
.chat-currency_name{
  padding-left: 5px;
}
.widget-price{
  float:right;
  padding-top:2px;
  padding-right: 5px;
}
.inprice{
  padding-top: 4px;
  padding-right: 10px;
}
.priceheight{
  padding-top: 1px;
}
.chat_widget_div{
  padding:5px 0px;
  border-top: solid 1px #DDDDDD;
  border-bottom: solid 1px #DDDDDD;
  margin-bottom: -1px;
}
.widget_percent{
  border-radius: 5px;
  color:white;
  padding:auto;
  text-align: center;
  min-width:90px;
  min-height:30px;
}
