/* 共通設定 */
/* 共通設定 */
#widget-ex{
  background-color: #F2F2F2;
}
.widget{
  background-color: white;
}
.widget .currency_logo{
  height:50px;
  width:50px;
}
.widget .BitcoinCash .currency_logo{
  height:30px;
  width:50px;
  margin: 10px 0px;
}
.currency_table{
  width:80%;
  max-width: 600px;
}

.widget td{
  width:55px;
  height:88px;
}

.widget a{
  color:inherit;
  font-size: 80%;

}
.widget p{
  margin:0;
  text-align: center;
}
/* ここまでheader */

/*  */
.chat-widget .currency_logo{
  height:40px;
  width:40px;
}
.chat-widget .BitcoinCash .currency_logo{
  height:24px;
  width:40px;
  margin: 8px 0px;
}
.chat-widget span{
  display:inline-block;
}
.chat-widget a{
  display: block;
  text-decoration: none ;
  color:inherit;
  font-size:130%;
}
.chat-widget a:hover{
  background-color: #DDDDDD;
  text-decoration: none ;
  color:inherit;
}
.chat-currency_name{
  padding-left: 5px;
}
.widget-price{
  float:right;
  padding-top:2px;
  padding-right: 5px;
}
.inprice{
  padding-top: 4px;
  padding-right: 10px;
}
.priceheight{
  padding-top: 1px;
}
.widget-border{
  padding:5px 0px;
  border-top: solid 1px #DDDDDD;
  border-bottom: solid 1px #DDDDDD;
  margin-bottom: -1px;
}
.widget_percent{
  border-radius: 5px;
  color:white;
  padding:auto;
  text-align: center;
  min-width:90px;
  min-height:30px;
}
