#widget-ex{
  background-color: #F2F2F2;
}
.widget{
  background-color: white;
}
.currency_table{
  width:80%;
  max-width: 600px;
}

.widget td{
  width:55px;
  height:88px;
}

.widget a{
  color:inherit;
  font-size: 80%;

}
.currency_logo{
  height:50px;
  width:50px;
}
.widget p{
  margin:0;
  text-align: center;
}
.BitcoinCash .currency_logo{
  height:30px;
  width:50px;
  margin: 10px 0px;
}
